<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./layout/admin.html}">

<head>
	<meta charset="UTF-8">
	<title>Chi tiết hóa đơn</title>
</head>

<body>
	<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-4">
            <i class="fa-solid fa-paperclip" style="color: cadetblue; font-size: 20px;"></i>
                <a href="{{ route('product.order') }}" style="font-size: 22px;" >Bảng hóa đơn</a>
          </div><!-- /.col -->
          <div class="col-sm-4">
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!--    <?php
    $message = Session::get('msg');
    if($message){
      echo ' 
      <div class="alert alert-success">
      <span class="text-alert">'.$message.'</span>
      </div>
      ';
      Session::put('msg',null);
    }
    ?>-->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá(/1sp)</th>
                <th scope="col">Tổng tiền</th>
              </tr>
            </thead>
            <tbody>
                   <tr th:each="orderDetail: ${orderwithID}">
                <td th:text="${orderDetail.name_product}"></td>
                  <td  th:text="${orderDetail.count}"></td>
                  <td th:text="${orderDetail.price div orderDetail.count}"></td>
                  <td th:text="${orderDetail.price}"></td>

            
             
              </tr>
             
            </tbody>
          </table>
         <!-- {{-- <div class="col-md-12">
            {{ $categories->links('pagination::bootstrap-4') }}
          </div> --}}-->
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    <!-- /.content -->
  </div>

	</div>
</body>

</html>