<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/user.html}">

<head>
	<meta charset="UTF-8">
	<title>Chi tiết đơn hàng</title>
</head>

<body>

	<section layout:fragment="content">
		<div class="container light-style flex-grow-1 container-p-y" style="    margin-bottom: 5%;">

		
			<form action="{{ URL::to('/save') }}" method="POST" enctype="multipart/form-data">
			
				<div class="card overflow-hidden">
					<div class="row no-gutters row-bordered row-border-light">
						<div class="col-md-3 pt-0">
						
						</div>
						<div class="col-md-9">
							<div class="tab-content">
								<div class="tab-pane fade active show" id="account-general">

									<div class="card-body media align-items-center">
										<table class="table table-striped">
											<thead>
												<tr>
													<th scope="col">Tên sản phẩm</th>
													<th>Số lượng</th>
													<th>Giá</th>



												</tr>
											</thead>
											<tbody>
												
												<tr  th:each="order : ${orderdetail}">
													<td  th:text="${order.name_product}" ></td>
													<td  th:text="${order.count}"></td>
													<td  th:text="${order.price}"></td>
												</tr>

											

												</tr>

											</tbody>
										</table>
									</div>
								</div>

								</div>

							</div>
						</div>
					</div>
				
				</div>
			</form>


		</div>

	</section>
</body>

</html>