<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/user.html}">

<head>
	<meta charset="UTF-8">
	<title>Lịch sử mua hàng</title>
</head>

<body>

	<section layout:fragment="content"  >
		<div class="container light-style flex-grow-1 container-p-y" style="    margin-bottom: 5%;">
<form action="{{ URL::to('/save') }}" method="POST" enctype="multipart/form-data">

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-2 pt-0">
      
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">
 <h2 class="col-12 " style="text-align: center;">Lịch sử mua hàng</h2>
              <div class="card-body media align-items-center">
               
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Ngày đặt hàng</th>
                          <th>Tổng tiền</th>
                          <th>Thao tác</th>
                          
          
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="order : ${order}">
                            <td  th:text="${order.id_order}" ></td>
                        <td  th:text="${order.date}"></td>
                        <td  th:text="${order.total}"></td>
               
                        <td>
                            <a th:href="@{/history_detail/{id}(id=${order.id_order})}">Xem chi tiết</a>
                        </td>  
                        </tr>
                        </tr>
                       
                      </tbody>
                </table>
              </div>
              <h2 class="col-12 " style="text-align: center;">Chờ xét duyệt</h2>
              <div class="card-body media align-items-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Ngày đặt hàng</th>
                          <th>Tổng tiền</th>
                          <th>Thao tác</th>
                          
          
                        </tr>
                      </thead>
                      <tbody>
                   
                  <tr th:each="nostatus : ${nostatus}">
                            <td  th:text="${nostatus.id_order}" ></td>
                        <td  th:text="${nostatus.date}"></td>
                        <td  th:text="${nostatus.total}"></td>
               
                        <td>
                            <a th:href="@{/history_detail/{id}(id=${nostatus.id_order})}">Xem chi tiết</a>
                        </td>  
                        </tr>
                        
        
                       
                        </tr>
                       
                      </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Mật khẩu cũ</label>
                  <input type="password" class="form-control" name="pass_old" value="{{ old('pass_old') }}">
                </div>

                <div class="form-group">
                  <label class="form-label">Mật khẩu mới</label>
                  <input type="password" class="form-control" name="pass_new"  value="{{ old('pass_new') }}">
                </div>

                <div class="form-group">
                  <label class="form-label">Xác nhận lại mật khẩu</label>
                  <input type="password" class="form-control" name="password"  value="{{ old('password') }}">
                </div>
                <?php
                $pass_mess = Session::get('pass_mess');
                if($pass_mess){
                    echo ' 
                <div class="alert alert-success">
                <span class="text-alert" style=" font-family: none; color: red; font-size: 15px;">'.$pass_mess.'</span>
                </div>
                ';
                    Session::put('pass_mess',null);
                }
                ?>
              </div>
      
            </div>
    
          </div>
        </div>
      </div>
  
    </div>
</form>
  

  </div>

	
	</section>
</body>

</html>